<div class="game-container">
    <h2>Maze Game</h2>
    <p>Use arrow keys to move. Find your way to the exit!</p>
    <div class="maze">
      <div *ngFor="let row of maze; let rowIndex = index" class="maze-row">
        <div *ngFor="let cell of row; let colIndex = index"
             class="maze-cell"
             [ngClass]="{
               'wall': cell === '1',
               'path': cell === '0',
               'start': cell === 'S',
               'exit': cell === 'E',
               'player': playerPosition.row === rowIndex && playerPosition.col === colIndex
             }">
        </div>
      </div>
    </div>
    <p>Time: {{ timer }}s</p>
  </div>
  
  <button class="btn btn-info mt-3" (click)="solveMaze()">Solve with BFS</button>
